@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

body {
	background: #ffffff !important;
	color: #171717 !important;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	background: #ffffff !important;
}


